# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.gch

# ctags tag file
tags

# temporary files created by vim
*~
*.swp

# binaries for this program
client
server
